@page "/"

<div class="text-center mb-3">
    <h1 class="card-title">Hello, Universe!</h1>
    <p class="card-text">Welcome to the Blazor App that use the Open Data Nasa APIs to fetch images from the Nasa Astronomy Picture of the Day service.</p>
    <img src="/images/NasaLogo.png" alt="Nasa logo image" style="width:50%">
</div>

